.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    padding: 1em;

    img,
    embed,
    object,
    video {
        max-width: 100%;
    }
}
@media (max-width: 992px) {
    .gallery {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

