//Variables dark theme
$color-decor: #cad1ee;

$color-decor-second: #181f38;

$color-decor-text: #0d1323;

$color-bg: #0d1323;

$color-text: #cad1ee;

$font-family-title: 'Raleway', sans-serif;

$font-family-text: 'Open Sans', sans-serif;
